
.DS_Store
routingClient/.idea
routingClient/target
routingClient/build
routingClient/.gradle
routingClient/env_file
routingClient/osm
databaseClient/.idea
databaseClient/.env
databaseClient/.env.docker
